
/binaries

_UpgradeReport_Files
_ReSharper.*
bin
obj
*.user
UpgradeLog.xml
*.suo
*.pidb
*.userprefs
/TestResults
binaries
*.ncrunchproject

*.ncrunchsolution

*.cache

*.nupkg

*.pdb
StoredText
