
/binaries

_UpgradeReport_Files
_ReSharper.*
bin
obj
*.user
UpgradeLog.xml
*.suo
*.pidb
*.userprefs
/TestResults
binaries
*.ncrunchproject

*.ncrunchsolution

*.cache

*.nupkg

*.pdb
StoredText
/packages/WatiN.2.1.0/mozilla
/packages/WatiN.2.1.0/lib/net20
/packages/WatiN.2.1.0/lib/net35
/packages/WatiN.2.1.0/WatiN.chm
/_NCrunch_FluentSharp
/packages/HtmlAgilityPack.1.4.6/lib/winrt45
/packages/HtmlAgilityPack.1.4.6/lib/Net40
/packages/HtmlAgilityPack.1.4.6/lib/Net40-client
/packages/HtmlAgilityPack.1.4.6/lib/Net45
/packages/HtmlAgilityPack.1.4.6/lib/sl3-wp
/packages/HtmlAgilityPack.1.4.6/lib/sl4
/packages/HtmlAgilityPack.1.4.6/lib/sl4-windowsphone71
/packages/HtmlAgilityPack.1.4.6/lib/sl5
