[submodule "FluentSharp_Fork.SharpDevelopEditor"]
	path = FluentSharp_Fork.SharpDevelopEditor
	url = https://github.com/o2platform/FluentSharp_Fork.SharpDevelopEditor.git
[submodule "FluentSharp_Fork.WatiN"]
	path = FluentSharp_Fork.WatiN
	url = https://github.com/o2platform/FluentSharp_Fork.WatiN
[submodule "FluentSharp_Fork.CassiniDev"]
	path = FluentSharp_Fork.CassiniDev
	url = https://github.com/o2platform/FluentSharp_Fork.CassiniDev
[submodule "FluentSharp.CoreLib"]
	path = FluentSharp.CoreLib
	url = git@github.com:o2platform/FluentSharp.CoreLib.git
[submodule "FluentSharp.AST"]
	path = FluentSharp.AST
	url = git@github.com:o2platform/FluentSharp.AST.git
[submodule "FluentSharp.REPL"]
	path = FluentSharp.REPL
	url = git@github.com:o2platform/FluentSharp.REPL.git
[submodule "FluentSharp.AspNet_MVC"]
	path = FluentSharp.AspNet_MVC
	url = git@github.com:o2platform/FluentSharp.AspNet_MVC.git
[submodule "FluentSharp.HtmlAgilityPack"]
	path = FluentSharp.HtmlAgilityPack
	url = git@github.com:o2platform/FluentSharp.HtmlAgilityPack.git
[submodule "FluentSharp.HtmlAgilityPack.WinForms"]
	path = FluentSharp.HtmlAgilityPack.WinForms
	url = git@github.com:o2platform/FluentSharp.HtmlAgilityPack.WinForms.git
