
/binaries

_UpgradeReport_Files
_ReSharper.*
bin
obj
*.user
UpgradeLog.xml
*.suo
*.pidb
*.userprefs
/TestResults
binaries
*.ncrunchproject

*.ncrunchsolution

*.cache

*.nupkg

*.pdb
StoredText
/packages/WatiN.2.1.0/mozilla
/packages/WatiN.2.1.0/lib/net20
/packages/WatiN.2.1.0/lib/net35
/packages/WatiN.2.1.0/WatiN.chm
