<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentSharp.BCL" version="5.0.44" targetFramework="net35" />
  <package id="FluentSharp.CoreLib" version="5.0.44" targetFramework="net35" />  
  <package id="O2.Platform.External.SharpDevelop" version="5.0.8" targetFramework="net35" />
</packages>