<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentSharp.BCL" version="4.5.2.0" targetFramework="net40" />
  <package id="FluentSharp.CoreLib" version="4.5.2.0" targetFramework="net40" />
  <package id="FluentSharp.REPL" version="4.5.2.0" targetFramework="net40" />
  <package id="FluentSharp.WPF" version="4.5.2.0" targetFramework="net40" />
</packages>