<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentSharp.BCL"  targetFramework="net40" />
  <package id="FluentSharp.CoreLib" targetFramework="net40" />
  <package id="FluentSharp.REPL" targetFramework="net40" />
  <package id="FluentSharp.WPF"  targetFramework="net40" />
  <package id="O2.Platform.External.SharpDevelop" targetFramework="net40" />
</packages>